/* Let's keep it simple this time, okay? */

/* reset */
* { margin:0px; padding:0px; } 

$gray: #555;
$yellow: #FFF3bF;
$brick: #BF684D;

@mixin header { 
  h2 { padding:10px; color: white; display:block; background-color: $brick; } }

li { list-style:none; }
a { text-decoration:none; }
span.error { padding: 0px; }

div#header { margin-bottom: 8px;
  a { 
    img { border:none; }
    &:hover { background-color: white; } } }
#left { float: left; width: 288px; margin-left:12px; }
.content { margin:auto; width:900px; }
div.featured_events_header { width:288px; background-color: $brick;
  @include header; }
div.upcoming_events_header { float:right; width: 588px; background-color: $brick;
  @include header; }

div#search_container {
  @include header;
  #search_box { padding-top:3px; background:url(../images/brick.png);
    label { margin-left:6px; }
    input { width:138px; } } }
.ui-datepicker { background-color: $yellow;
      a { cursor:pointer; } }

#events {
  .pagination { float:right; }
  .error { width:564px; float:right; }
  .event_details { display:none; margin-top:0.5em; 
    p { margin-top: 0.25em; 
      span { color: $brick; } } } }

#list { float:right; width:588px; margin-bottom:50px !important; }
.event { padding:10px;
  &.even { background-color:#fff;}
  &.odd { background-color: lighten($yellow, 5%); }
  .event_name { font-size:1.25em; line-height:1.25em; } 
  .date { font-style:italic; color: $gray; } }


div.footer { position:fixed; bottom:0px; width:100%; height:50px; background:url(../images/brick.png);
   .pagination { margin:0px auto; width:960px; line-height:1.5em; font-size:2.5em;
    .previous_page {position:fixed; left:0; }
    .next_page { position:fixed; right:0; } } }
