/* Let's keep it simple this time, okay? */
/* reset */
* {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

a {
  text-decoration: none; }

span.error {
  padding: 0px; }

div#header {
  margin-bottom: 8px; }

#left {
  float: left;
  width: 288px;
  margin-left: 12px; }

.content {
  margin: auto;
  width: 900px; }

div.featured_events_header {
  width: 288px;
  background-color: #bf684d; }
  div.featured_events_header h2 {
    padding: 10px;
    color: white;
    display: block;
    background-color: #bf684d; }

div.upcoming_events_header {
  float: right;
  width: 588px;
  background-color: #bf684d; }
  div.upcoming_events_header h2 {
    padding: 10px;
    color: white;
    display: block;
    background-color: #bf684d; }

div#search_container h2 {
  padding: 10px;
  color: white;
  display: block;
  background-color: #bf684d; }
div#search_container #search_box {
  padding-top: 3px;
  background: url(../images/brick.png); }
  div#search_container #search_box label {
    margin-left: 6px; }
  div#search_container #search_box input {
    width: 138px; }

.ui-datepicker {
  background-color: #fff3bf; }
  .ui-datepicker a {
    cursor: pointer; }

#list {
  float: right;
  width: 588px;
  margin-bottom: 50px !important; }

.event {
  padding: 10px; }
  .event.even {
    background-color: #fff; }
  .event.odd {
    background-color: #fff8d9; }
  .event .event_name {
    font-size: 1.25em;
    line-height: 1.25em; }
  .event .date {
    font-style: italic;
    color: #555555; }

div.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background: url(../images/brick.png); }
  div.footer .pagination {
    margin: 0px auto;
    width: 960px;
    line-height: 1.5em;
    font-size: 2.5em; }
    div.footer .pagination .previous_page {
      position: fixed;
      left: 0; }
    div.footer .pagination .next_page {
      position: fixed;
      right: 0; }
