/* Let's keep it simple this time, okay? */
/* reset */
* {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

a {
  text-decoration: none; }
  a:hover {
    background-color: #cce2eb; }

div#header {
  margin-bottom: 8px; }
  div#header a img {
    border: none; }
  div#header a:hover {
    background-color: white; }

#left {
  float: left;
  width: 288px;
  margin-left: 12px; }

.content {
  margin: auto;
  width: 900px; }

div.upcoming_events_header {
  float: right;
  width: 588px; }
  div.upcoming_events_header h2 {
    padding: 10px;
    color: #8ab77a;
    font-style: italic;
    display: block;
    font-size: 2.5em;
    font-family: Georgia;
    font-weight: normal; }

div#featured_events {
  width: 288px; }
  div#featured_events div.featured_events_header {
    width: 288px; }
    div#featured_events div.featured_events_header h2 {
      padding: 10px;
      color: #8ab77a;
      font-style: italic;
      display: block;
      font-size: 2.5em;
      font-family: Georgia;
      font-weight: normal; }
  div#featured_events p {
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 3px; }
    div#featured_events p.date {
      color: #555555; }
  div#featured_events h3 {
    margin-top: 10px;
    font-weight: normal;
    font-family: Georgia;
    font-size: 1.3em;
    line-height: 1.25em; }
  div#featured_events img {
    float: left;
    padding: 10px;
    padding-top: 0; }

div#event_details {
  width: 900px;
  margin: auto; }
  div#event_details h2 {
    padding: 10px;
    color: #8ab77a;
    font-style: italic;
    display: block;
    font-size: 2.5em;
    font-family: Georgia;
    font-weight: normal; }
  div#event_details h2 {
    margin-bottom: 20px; }
  div#event_details img {
    float: left;
    margin-left: 10px;
    margin-right: 10px; }
  div#event_details p {
    padding-left: 10px; }
    div#event_details p span {
      color: #336d85; }
    div#event_details p.description {
      padding: 10px; }

div#search_container h2 {
  padding: 10px;
  color: #8ab77a;
  font-style: italic;
  display: block;
  font-size: 2.5em;
  font-family: Georgia;
  font-weight: normal; }
div#search_container #search_box {
  padding-top: 3px;
  background: #c4dbbc; }
  div#search_container #search_box label {
    margin-left: 6px; }
  div#search_container #search_box input {
    width: 138px; }

.ui-datepicker {
  background-color: #f1f7f9; }
  .ui-datepicker a {
    cursor: pointer; }
    .ui-datepicker a.ui-datepicker-next {
      margin-left: 5px; }
  .ui-datepicker table {
    width: 100%; }
    .ui-datepicker table th {
      text-align: center;
      background-color: white; }
    .ui-datepicker table td {
      padding: 3px 0px;
      text-align: center; }

.cal_from {
  text-align: right; }
  .cal_from .ui-datepicker {
    background-color: #e1eddd; }
    .cal_from .ui-datepicker .ui-datepicker-title {
      float: left;
      margin-right: 100px;
      margin-left: 6px;
      font-weight: bold; }

#events .pagination {
  float: right; }
#events .error {
  width: 564px;
  float: right; }
#events .event_details {
  display: none;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em; }
  #events .event_details a.more_info {
    float: right;
    color: #336d85; }
  #events .event_details p {
    margin-top: 0.25em; }
    #events .event_details p span {
      color: #336d85; }

#list {
  float: right;
  width: 588px;
  margin-bottom: 50px !important; }

.event {
  padding: 5px; }
  .event.even {
    background-color: #fff; }
  .event.odd {
    background-color: #fffdf2; }
  .event .event_name {
    font-family: Georgia;
    font-size: 1.3em;
    line-height: 1.25em; }
    .event .event_name a {
      color: #254f60; }
  .event .date {
    font-size: .85em;
    color: #555555; }
