.featured_events_header
  %h2 Featured Event
- if @featured_events.nil?
  %div.error There are currently no featured events.
- else
  - fe = @featured_events
  .featured_event
    - unless fe.image_url.empty?
      = image_tag fe.image_url, :height => 128
    %h3.name= link_to fe.name, fe
    %p.description= fe.description.slice(0..140)+'...'
